config SOC_PUPPY_V2
	bool
	select RISCV
	select RISCV_PUPPY
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_F
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select ARCH_HAS_CUSTOM_CPU_IDLE
	select ARCH_HAS_CUSTOM_CPU_ATOMIC_IDLE
	select ATOMIC_OPERATIONS_C
	#select SHARED_INTERRUPTS
	#select FPU
	#select CPU_HAS_FPU
	#select FLOAT_HARD

