/dts-v1/;

#include "zephyr/dt-bindings/gpio/gpio.h"

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "caninos,puppy";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv32imfc_zicsr";
			reg = <0>;
		};
	};

	soc: soc {
		#address-cells = <0x01>;
		#size-cells = <0x01>;

		sram: sram@1c010000 {
			device_type = "memory";
			reg = <0x1c010000 0x40000>;
			status="okay";
		};

		gpio0: gpio@1a101000 {
			compatible = "caninos,puppy-gpio";
			gpio-controller;
			ngpios = <32>;
			reg = <0x1a101000 0x1000>;
			interrupts = <15>;
			interrupt-parent = <&intc>;
			#gpio-cells = <2>;
		};

		intc: interrupt-controller@1a109000 {
			#interrupt-cells = <1>;
			compatible = "caninos,puppy-event-unit";
			interrupt-controller;
			reg = <0x1a109000 0x1000>;
		};

		timer: timer@1a10b000 {
			compatible = "caninos,puppy-timer";
			reg = <0x1a10b000 0x1000>;
			interrupts = <10>;
			interrupt-parent = <&intc>;
		};
	};
};
