#include <caninos/puppy.dtsi>
#include <mem.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    model = "puppy-testboard-v1";
    compatible = "caninos,puppy-testboard";

    chosen {
        mcuboot,ram-load-dev = &sram;
        zephyr,flash-controller = &spi0;
        zephyr,sram = &sram;
	zephyr,flash= &bootrom;
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
    };

    aliases {
        led0 = &led0;
	mcuboot-button0 = &button0;
	mcuboot-led0 = &led0;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
            label = "LED0";
        };
    };

    buttons {
	    compatible = "gpio-keys";
	    button0: button_0 {
		    gpios = < &gpio0 0 GPIO_ACTIVE_HIGH>;
		    label = "User button";
	    };
    };
};

&intc {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&uart0 {
    status = "okay";
    current-speed = <1250000>;
    parity = "none";
};

&spi0 {
    status = "okay";

    flash0: flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0>;
        jedec-id = [EF 40 17];
        spi-max-frequency = <1000000>;
        size = <DT_SIZE_M(16)>;
        status = "okay";

        partitions {
            compatible = "fixed-partitions";
            #size-cells = <1>;
            #address-cells = <1>;

            boot_partition: partition@0 {
                reg = <0 0x10000>;
                label = "boot_partition";
                read-only;
            };

            slot0_partition: partition@10000 {
                reg = <0x10000 0x40000>;
                label = "slot0";
	    };

	    slot1_partition: partition@50000 {
		    reg = <0x50000 0x40000>;
		    label = "slot1";
	    };

            user_sketch: partition@F0000 {
                reg = <0xF0000 0xF0000>;
            };
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
};

&i2c1 {
    status = "okay";
    clock-frequency = <100000>;
    sda-pin = <24>;
    scl-pin = <25>;
};
